*{
    padding: 0;
    margin: 0;
    background-color: greenyellow;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90vw;

    padding: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    padding: 10px;
}

.card{
    /* border: 2px solid black; */
    border-radius: 5px;   

}

.card img{
    height: 220px;
    width: 150px;
    border-radius: 5px;
    object-fit: cover;   
}

h3{
    margin-left: 20px;
}

button{
    height: 40px;
    width: 70px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;

    margin-left: 595px;
}

p{
    font-size: small;
}